html {
  font-size: 50px;
}
@media (min-width: 640px) {
  html {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 72px;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
body {
  padding: 0;
  margin: 0;
  background-color: #000;
}
.container {
  max-width: 10.8rem;
  margin: 0 auto;
  display: none;
}

.flex {
  display: flex;
}
.justifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}
.justifySpaceBetween {
  justify-content: space-between;
}
.header {
  margin-top: 0.26rem;
  margin-bottom: 0.26rem;
  margin-left: 0.4rem;
  margin-right: 0.3rem;
}
.logo {
  width: 2.1rem;
  height: 0.8rem;
}
.downloadBtn {
  width: 2.9rem;
  height: 0.8rem;
  background-color: #10fc76;
  font-size: 0.34rem;
  font-weight: 800;
  border-radius: 0.8rem;
}
.downloadBtn img {
  width: 0.36rem;
  height: 0.36rem;
  margin-right: 0.1rem;
}
.banner-container {
  width: 100%;
  background-color: black;
  aspect-ratio: 1080/1440;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-container img {
  width: 100%;
  object-fit: cover;
}
.prompt-list-before {
  font-weight: 700;
  font-size: 0.4rem;
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 限制文本最多显示3行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0.4rem 0.4rem;
}
/* 使用 CSS 来控制列表容器的样式 */
.prompt-list-container {
  width: 100%; /* 设置容器的宽度，可以根据需要调整 */
  overflow-x: auto; /* 允许横向滚动 */
  white-space: nowrap; /* 防止文本换行 */
}

/* 使用 CSS 来控制列表样式 */
.prompt-list {
  list-style: none; /* 去除默认的列表样式 */
  padding: 0; /* 去除默认的内边距 */
  margin: 0;
  color: white;
  padding-left: 0.4rem;
}

/* 为列表项添加一些样式 */
.prompt-list li {
  display: inline-block; /* 使列表项横向排列 */
  margin-right: 10px; /* 为列表项之间添加一些间距 */
  width: 2rem;
  position: relative;
}
.prompt-list li:not(:first-child) {
  margin-left: -0.26rem;
}
.prompt-category {
  position: absolute;
  top: 0;
  color: white;
  font-weight: 700;
  font-size: 0.26rem;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  height: 0.45rem;
  line-height: 0.45rem;
}
.prompt-list li img {
  width: 100%;
  display: block;
}
.prompt-name {
  margin-top: 0.1rem;
  font-weight: 600;
  font-size: 0.3rem;
  color: white;
}

.column {
  display: inline-block;
  vertical-align: top;
}
.pic_a {
  display: block;
  margin-bottom: 10px;
  background-color: black;
  text-decoration: none;
}
.pic_a > img {
  display: block;
  margin: 0 auto 5px;
  border: 0;
  width: 100%;
  position: relative;
  border-radius: 0.2rem;
}
.pic_a strong {
  color: #333;
}
.waterFallBefore {
  color: #10fc76;
  font-size: 0.456rem;
  font-weight: 700;
  padding-left: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.waterFallContainer {
  max-width: 10.8rem;
  margin: 0 auto;
  text-align: justify;
  padding: 0 15px;
  box-sizing: border-box;
}
.userAvatar {
  font-size: 0.3rem;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 0.15rem;
  margin-bottom: 0.09rem;
}
.userAvatar img {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  margin-right: 0.095rem;
  margin-left: 0.1rem;
}
.description {
  color: #595959;
  font-weight: 600;
  font-size: 0.3rem;
  margin-left: 0.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.create-btn {
  margin: 0 auto;
  padding: 10px 0;
  background: linear-gradient(to right, #10fc76, #f6fc11);
  position: fixed;
  bottom: 20px;
  width: 10rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 999;
}
.create-btn-text {
  text-align: center;
}
.create-btn-text div:first-child {
  color: black;
  font-weight: 800;
  font-size: 0.5rem;
}
.create-btn-text div:last-child {
  color: black;
  font-weight: 600;
  font-size: 0.3rem;
}
.create-btn img {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  right: 0.3rem;
}
.view-more-btn {
  width: 3.6rem;
  height: 1.2rem;
  margin: 0 auto;
  box-sizing: border-box;
  border: 0.03rem solid #10fc76;
  border-radius: 1.2rem;
  color: #10fc76;
  font-size: 0.4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  text-align: center;
  line-height: 1.2rem;
}

/* 圆环loading START */
.loading {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.loading .loading-content {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
  z-index: 9;
  border-radius: 50%;
}
.loading .loading-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  animation: rotateAnimate 2s linear infinite;
  -moz-animation: rotateAnimate 2s linear infinite; /* Firefox */
  -webkit-animation: rotateAnimate 2s linear infinite; /* Safari 和 Chrome */
  -o-animation: rotateAnimate 2s linear infinite; /* Opera */
}
.loading .loading-mask::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #10fc76;
}
.loading .loading-mask::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 60%;
  background-image: linear-gradient(45deg, #10fc76, #000);
}
@keyframes rotateAnimate {
  from {
    transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-moz-keyframes rotateAnimate /* Firefox */ {
  from {
    transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateAnimate /* Safari 和 Chrome */ {
  from {
    transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-o-keyframes rotateAnimate /* Opera */ {
  from {
    transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* 圆环 loading END */

/* 设置圆环的大小 START */
.small-spinner {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  visibility: hidden;
}
.small-spinner .loading {
  /* 设置环的厚度 */
  padding: 8px;
}
.small-spinner .loading .loading-mask::before {
  /* 设置环的厚度 */
  width: 8px;
  height: 8px;
}
/* 设置圆环的大小 END */

/* 大加载动画 START */
.big-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.big-spinner .loading {
    width: 3rem;
  /* 设置环的厚度 */
  padding: 12px;
}
.big-spinner .loading .loading-mask::before {
  /* 设置环的厚度 */
  width: 12px;
  height: 12px;
}
/* 大加载动画 END */

.bottom-info {
    padding: 0 0.4rem;
    position: absolute;
    bottom: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}
.user-info img {
    width: 0.48rem;
}
.like, .user-info {
    color: white;
    font-size: 0.38rem;
    font-weight: 700;
}
.like img{
    width: 0.6rem;
    margin-right: 0.07rem;
}