html {
  font-size: 72px;
}
body {
  padding: 0;
  margin: 0;
  background-color: #000;
}
.container {
  max-width: 10.8rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.justifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}
.justifySpaceBetween {
  justify-content: space-between;
}
.header {
  margin-top: 0.26rem;
  margin-bottom: 0.26rem;
  margin-left: 0.4rem;
  margin-right: 0.3rem;
}
.logo {
  width: 2.1rem;
  height: 0.8rem;
}
.downloadBtn {
  width: 2.9rem;
  height: 0.8rem;
  background-color: #10fc76;
  font-size: 0.34rem;
  font-weight: 800;
  border-radius: 0.8rem;
}
.downloadBtn img {
  width: 0.36rem;
  height: 0.36rem;
  margin-right: 0.1rem;
}
.loading {
  width: 100%;
  background-color: #635e5e;
  aspect-ratio: 1080/1440;
}
.prompt-list-before {
  font-weight: 700;
  font-size: 0.46rem;
  color: white;
  padding: 0.4rem;
}
/* 使用 CSS 来控制列表容器的样式 */
.prompt-list-container {
  width: 100%; /* 设置容器的宽度，可以根据需要调整 */
  overflow-x: auto; /* 允许横向滚动 */
  white-space: nowrap; /* 防止文本换行 */
}

/* 使用 CSS 来控制列表样式 */
.prompt-list {
  list-style: none; /* 去除默认的列表样式 */
  padding: 0; /* 去除默认的内边距 */
  margin: 0;
  color: white;
  padding-left: 0.4rem;
}

/* 为列表项添加一些样式 */
.prompt-list li {
  display: inline-block; /* 使列表项横向排列 */
  margin-right: 10px; /* 为列表项之间添加一些间距 */
  width: 2rem;
  position: relative;
}
.prompt-list li:not(:first-child) {
  margin-left: -0.26rem;
}
.prompt-category {
  position: absolute;
  top: 0;
  background-color: #0038ffbf;
  color: white;
  font-weight: 700;
  font-size: 0.26rem;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.prompt-list li img {
  width: 100%;
  display: block;
}
.prompt-name {
  margin-top: 0.1rem;
  font-weight: 600;
  font-size: 0.3rem;
  color: white;
}

.column {
  display: inline-block;
  vertical-align: top;
}
.pic_a {
  display: block;
  margin-bottom: 10px;
  background-color: black;
  text-decoration: none;
}
.pic_a > img {
  display: block;
  margin: 0 auto 5px;
  border: 0;
  width: 100%;
}
.pic_a strong {
  color: #333;
}
.waterFallBefore {
  color: #10fc76;
  font-size: 0.456rem;
  font-weight: 700;
  padding-left: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.waterFallContainer {
  max-width: 10.8rem;
  margin: 0 auto;
  text-align: justify;
  padding: 0 15px;
  box-sizing: border-box;
}
.userAvatar {
  font-size: 0.3rem;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 0.15rem;
  margin-bottom: 0.09rem;
}
.userAvatar img {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  margin-right: 0.095rem;
  margin-left: 0.1rem;
}
.description {
  color: #595959;
  font-weight: 600;
  font-size: 0.3rem;
  margin-left: 0.1rem;
}

.create-btn{
    margin: 0 0.2rem;
    height: 1.8rem;
    background: linear-gradient(to right, #10FC76, #F6FC11);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.3rem;
    margin-bottom: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create-btn div:first-child{
    color: black;
    font-weight: 800;
    font-size: 0.5rem;
}
.create-btn div:last-child{
    color: black;
    font-weight: 600;
    font-size: 0.3rem;
}
.create-btn img {
    position: absolute;
    right: 0.7rem;
    width: 0.5rem;
    height: 0.5rem;
}
.view-more-btn {
    width: 3.6rem;
    height: 1.2rem;
    margin: 0 auto;
    box-sizing: border-box;
    border: 0.03rem solid #10FC76;
    border-radius: 1.2rem;
    color: #10FC76;
    font-size: 0.4rem;
    font-weight: 700;
    margin-bottom: 200px;
    text-align: center;
    line-height: 1.2rem;
}